@model TrabajoFinal_U1_WebII.Models.ClsEjercicio2
@{
    ViewBag.Title = "Index";
}

<div>

    <h1 class="jumbotron">Ejercicio 2</h1>
    <br /><br />
    @using (Html.BeginForm("Index", "Ejercicio2", FormMethod.Post))
    {
        @Html.Label("Ingrese la cantidad de filas de la matriz ")
        @Html.EditorFor(model => model.fil)
        <br />
        @Html.Label("Ingrese la cantidad de columnas de la matriz ")
        @Html.EditorFor(model => model.col)
        <br />
        <input class="btn btn-primary" type="submit" name="Generar" value="Generar" />
        <br />
        <br />
    }

</div>

<div>
    @if (ViewBag.col != null || ViewBag.col == 0)
    {
        if (ViewBag.fil != null || ViewBag.fil == 0)
        {
            int c1 = 0;
            int c2 = 0;
            using (Html.BeginForm("Mostrar", "Ejercicio2", FormMethod.Post))
            {
                <p style="visibility: hidden">@Html.EditorFor(model => model.fil)</p>
                <p style="visibility: hidden">@Html.EditorFor(model => model.col)</p>
                <div>
                    <h5>Matriz A</h5>
                    @for (int i = 0; i < ViewBag.fil; i++)
                    {
                        for (int j = 0; j < ViewBag.col; j++)
                        {

                            //@Html.Label("MatrizA" + (c1 + 1))


                            @Html.TextBox("MatrizA" + c1)

                            c1++;
                        }
                        <br />
                    }
                </div>
                <div>
                    <h5>Matriz B</h5>
                    @for (int i = 0; i < ViewBag.fil; i++)
                    {
                        for (int j = 0; j < ViewBag.col; j++)
                        {

                            //@Html.Label("MatrizB" + (c2 + 1))


                            @Html.TextBox("MatrizB" + c2)

                            c2++;
                        }
                        <br />
                    }
                </div>
                <div>
                    <br /><br />
                    <button class="btn btn-primary" type="submit">Mostrar</button>
                </div>
            }
        }
    }

</div>

