
@{
    ViewBag.Title = "Index";
}

<h1 class="jumbotron">Ejercicio 1</h1>
<table class="table">
    <tr>
        <th>columna 1,i</th>

        <td>columna 2,i</td>
        <td>columna 3,i</td>
    </tr>

    @for (int i = 0; i < 3; i++)
    {
        <tr>
            @for (int j = 0; j < 3; j++)
            {
                <td>@Model.matriz[i, j]</td>
            }
        </tr>
    }
</table>
<br />
<br />
<h5>La media de todos los valores es: @Model.promedio </h5>
<h5>El valor mínimo de todos los valores es: @Model.menor </h5>
<h5>El valor máximo de todos los valores es: @Model.mayor </h5>
<h5>Suma de los valores en la diagonal descendente: @Model.diagonalprincipal </h5>
<h5>Suma de los valores en la diagonal ascendente: @Model.diagonalsecundaria </h5>
<h5>Suma de los valores que están por encima de la diagonal descendente: @Model.valoresencima </h5>
<h5>Suma de los valores que están por debajo de la diagonal descendente: @Model.valoresdebajo </h5>

